body {
  background-color: #d9d9d9;
}
h1 {
  text-align: center;
  text-shadow: 5px 2px 4px grey;
}
h3 {
  text-align: center;
}
span {
  color: #06c;
}
div {
  margin: 30px 40px 10px 40px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 115%;
}
img {
  margin: 10px 570px auto;
}
#warning {
  color: red;
  background-color: black;
}
.first{font-size: 200%;}
.second{font-size: 300%;}
