body {
  background-image: url("images/wood.jpg");
  background-attachment: fixed;
  background-color: #d9d9d9;
}
h1 {
  text-align: center;
  text-shadow: 5px 2px 4px grey;
}
h3 {
  text-align: center;
  text-shadow: 5px 2px 12px #09f;
}
span {
  color: #06c;
  text-shadow: 5px 2px 4px grey;
}
ul {
  list-style-image: url("images/icon.png");
  list-style-position: outside;
  vertical-align: text-top ;
}
table {
  border-collapse: separate;
  border-spacing: 1px 1px;
  border-style: solid;
  empty-cells: hide;
  font-family: "Times New Roman", Times, serif;
}
th {
  color: white;
  background-color:gray;
}
td {
  background-color: white;
}
div {
  margin: 30px 40px 10px 40px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 115%;
  border: 3px solid gray;
  border-style: groove;
}
#invis {
  margin: 30px 60px 10px 60px;
  padding: -20px -20px -20px -20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 115%;
  background-color: transparent;
  border-style: hidden;
}
img {
  vertical-align: middle;
  margin: auto;
  display: block;
}
#warning {
  color: red;
  background-color: black;
}
.first{font-size: 200%;}
.second{font-size: 300%;}
.shadow{text-shadow: 5px 2px 4px grey;}
a:link {
color: green;
text-decoration-line: none;
}
a:visited {
color: green;
}
a:hover {
text-shadow: 5px 2px 4px grey;
}
